aiohttp==3.7.4.post0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
arrow==0.17.0
astroid==2.5.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
awscli==1.18.221
backcall==0.2.0
backoff==1.3.2
binaryornot==0.4.4
bleach==3.2.3
boto3==1.9.57
botocore==1.12.253
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
ciso8601==2.1.3
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
cookiecutter==1.7.2
cycler==0.10.0
DateTime==4.3
dearpygui==0.6.213
decompyle3 @ git+https://github.com/rocky/python-decompile3@47b5587b0a18b9fa7bea901a3694b56cb9c7f073
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
gevent==21.1.2
greenlet==1.0.0
grequests==0.6.0
http-client==0.1.22
idna==2.10
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
jedi==0.18.0
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
multidict==5.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
notebook==6.2.0
numpy==1.19.5
packaging==20.8
pandas==1.2.1
pandocfilters==1.4.3
parso==0.8.1
pathlib==1.0.1
pendulum==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
poyo==0.5.0
prometheus-client==0.9.0
prompt-toolkit==3.0.9
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pycurl==7.43.0.6
Pygments==2.7.3
pyhumps==1.3.1
pylint==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
PySimpleGUI==4.34.0
pytest==6.2.2
pytest-timeit==0.3.0
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2018.4
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.2
QtPy==1.9.0
ratelimit==2.2.1
requests==2.12.4
requests-futures==1.0.0
rich==9.13.0
rsa==4.5
s3transfer==0.1.13
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
Send2Trash==1.5.0
simplejson==3.11.1
singer==0.1.1
singer-encodings==0.0.3
singer-python==5.1.5
singer-tools==0.4.1
six==1.15.0
sklearn==0.0
spark-parser==1.8.9
strict-rfc3339==0.7
tap-pendo==0.0.9
tap-redshift==1.0.0b9
target==0.0.11
# Editable install with no version control (target-pendo==0.1.0)
-e /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages
terminado==0.9.2
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
uncompyle6==3.7.4
urllib3==1.25.11
validators==0.18.2
virtualenv==20.4.2
voluptuous==0.10.5
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xdis==5.0.8
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
